<dom-module id="tc-books">
    <style>
        .button-flat {
            color: var(--button-color);
            background: var(--button-background);
        }
        .button-flat:hover {
            color: var(--button-background);
            background: var(--button-color);
        }
    </style>
    <template>
        <iron-ajax id="ajax"
            auto
            url="[[requestUrl]]"
            last-response="{{ajaxResponse}}"
            on-error="handleError">
        </iron-ajax>
        <template is="dom-repeat" items="[[ajaxResponse]]">
            <div>
                <paper-button class="button-flat" on-tap="openBook">[[item.title]]</paper-button>
            </div>
        </template>
        <paper-toast id="toast" text="[[requestErrorText]]"></paper-toast>
    </template>
</dom-module>
<script>
    (function() {
        Polymer({
            is: 'tc-books',
            properties: {
                requestUrl: {
                    type: String,
                    value: '/api/v1/books'
                },
                requestErrorText: {
                    type: String,
                    value: 'Something, somewhere, went wrong'
                }
            },
            handleError: function() {
                this.$.toast.show();
            },
            openBook: function(e) {
                this.fire('openBook', e.model.item);
            }
        });
    })();
</script>
