<dom-module id="tc-book-form">
    <style>
        .button {
            color: var(--button-color);
            background: var(--button-background);
        }
        .button:hover {
            color: var(--button-background);
            background: var(--button-color);
        }
    </style>
    <template>
        <iron-ajax id="getAjax"
            auto
            on-error="handleGetError"
            url="[[fullRequestUrl]]">
        </iron-ajax>
        <iron-ajax id="putAjax"
            method="PUT"
            on-error="handlePutError"
            handle-as="json"
            content-type="application/json"
            url="[[requestUrl]]">
        </iron-ajax>
        <div>
            <form id="form">
                <paper-input id="_id" label="ID" value="{{data._id}}" auto-validate pattern="[1-9][0-9]*" required error-message="Must be a number"></paper-input>
                <paper-input id="title" label="Title" value="{{data.title}}" auto-validate required error-message="Title is required"></paper-input>
                <paper-input id="author" label="Author" value="{{data.author}}" auto-validate required error-message="Author is required"></paper-input>
                <paper-textarea id="description" label="Description" value="{{data.description}}"></paper-textarea>
                <paper-button id="submit" raised on-tap="submit">[[submitText]]</paper-button>
                <!--TODO: Add delete button-->
            </form>
        </div>
        <paper-toast id="toast" text="[[errorText]]"></paper-toast>
    </template>
</dom-module>
<script>
    (function() {
        Polymer({
            is: 'tc-book-form',
            properties: {
                requestUrl: {
                    type: String,
                    value: '/api/v1/books'
                },
                errorText: {
                    type: String,
                    value: 'Something, somewhere, went wrong'
                },
                bookId: {
                    type: Number,
                    value: 0
                },
                fullRequestUrl: {
                    type: String,
                    computed: 'computeFullRequestUrl(requestUrl, bookId)'
                },
                data: {
                    type: Object,
                    value: {}
                },
                submitText: {
                    type: String,
                    computed: 'computeSubmitText(bookId)'
                }
            },
            handleError: function(text) {
                this.errorText = text;
                this.$.toast.show();
            },
            handleGetError: function() {
                this.handleError('The book could not be retrieved from the server');
            },
            computeFullRequestUrl: function(url, bookId) {
                if (bookId == 0) {
                    return '';
                }
                return url + '/_id/' + bookId
            },
            open: function(bookId) {
                this.bookId = bookId;
            },
            computeSubmitText: function(bookId) {
                if (bookId > 0) {
                    return 'Update';
                }
                return 'Insert';
            },
            handlePutError: function() {
                this.handleError('The book could not be stored in the server');
            },
            submit: function() {
                if (this.$.form.checkValidity()) {
                    // This is a workaround.
                    // _id should be sent as number
                    this.data._id = parseInt(this.data._id);
                    // iron-ajax does not stringify object
                    this.$.putAjax.body = JSON.stringify(this.data);
                    this.$.putAjax.generateRequest();
                    // TODO: Fire event
                } else {
                    this.handleError('At least one field is invalid.');
                }
            }
        });
    })();
</script>
